{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Calculator API",
    "description" : "A simple calculator API that performs basic arithmetic operations based on the provided header.",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://api.calculator.com/v1"
  } ],
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "paths" : {
    "/calculate" : {
      "post" : {
        "summary" : "Perform an arithmetic operation on two numbers.",
        "description" : "Takes two numbers and an operation from the header (add, subtract, multiply, divide) and retuns the result.",
        "parameters" : [ {
          "name" : "operation",
          "in" : "header",
          "description" : "The arithmetic operation to perform.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "add", "subtract", "multiply", "divide" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/calculate_body"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A JSON object containing the result and the description of the operation performed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid input"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "500" : {
            "description" : "Internal server error"
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "inline_response_200" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "number"
          },
          "description" : {
            "type" : "string"
          }
        },
        "example" : {
          "result" : 0.8008281904610115,
          "description" : "description"
        }
      },
      "calculate_body" : {
        "required" : [ "number1", "number2" ],
        "type" : "object",
        "properties" : {
          "number1" : {
            "type" : "number"
          },
          "number2" : {
            "type" : "number"
          }
        }
      }
    },
    "securitySchemes" : {
      "bearerAuth" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  }
}
